@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;

    overflow: hidden;
}

@keyframes zoomInFade {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: scale(1.5);
  }
}

.animate-zoom {
  animation: zoomInFade 15s ease-in-out forwards;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
